<div class="typing-area-container">
  <div class="instructions" *ngIf="!promptLocked">
    <div class="instructions1-headline">
      <strong>Instructions 1:</strong>
    </div>
    <br/>
    Type a text prompt in the box below that you consider might lead to the image output shown here.
    Once
    you finish your prompt, hit "Set Prompt". After that, you will not be able to adjust your prompt.
  </div>
  <div class="image-container1" *ngIf="!secondAttempt">
    <img src="DALLE-image1.png" alt="Website description"/>
  </div>
  <div class="image-container2" *ngIf="secondAttempt">
    <img src="DALLE-image2.png" alt="Website description"/>
  </div>
  <div class="instructions2" *ngIf="promptLocked">
    <div class="instructions2-headline">
      <strong>Instructions 2:</strong>
    </div>
    <br/>
    Now highlight at least one part of your prompt you consider important and hit "Important".
    If you consider some parts of your prompt unimportant, you can highlight them and hit "Unimportant". You can
    highlight text with your mouse by clicking and dragging over the text.
    Once done, hit "Submit".

    Note: You can only highlight parts inside the prompt box above, the visualization box below is read-only.
  </div>

  <div class="input-section">
    <textarea
      #typingArea
      class="text-input"
      [disabled]="promptLocked"
      (keydown)="onKeyDown($event)"
      (keyup)="onKeyUp($event)"
      placeholder="Type your prompt here..."
    ></textarea>
    <div class="button-group">
      <button class="set-prompt-button" *ngIf="!promptLocked" (click)="lockPrompt()">Set Prompt</button>
      <button class="highlight-button" *ngIf="promptLocked" (click)="onTextSelection()">Important</button>
      <button class="lowlight-button" *ngIf="promptLocked" (click)="onTextSelectionLow()">Unimportant</button>
      <button class="submit-button" *ngIf="highlightSet" (click)="finalizeSubmission()">Submit</button>
    </div>
  </div>

  <div *ngIf="promptLocked" class="visualization-section">
    <h3>You can only highlight parts inside the prompt box above, this visualization box
      is read-only.</h3>
    <div class="highlight-display" [innerHTML]="getFormattedPrompt()"></div>
  </div>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
