<div class="typing-area-container">
  <div class="instructions" *ngIf="!promptLocked">
    <div class="instructions1-headline">
      <strong>Instructions 1:</strong>
    </div>
    <br/>
    Type a text prompt in the box below that you consider might lead to the image output shown here.
    Once
    you finish your prompt, hit "Set Prompt". After that, you will not be able to adjust your prompt.
  </div>
  <div class="image-container1" *ngIf="!secondAttempt">
    <!--    <img src="DALLE-image1.png" alt="Website description"/>-->
    <img
      src="DALL·E 2025-07-15 15.17.16 - A modern office scene showing only two people viewed from the back. They are sitting at separate desks, working on computers. The setting includes lar.webp"
      alt="Website description"/>
  </div>
  <div class="image-container2" *ngIf="secondAttempt">
    <img
      src="DALL·E 2025-07-15 15.24.06 - A realistic natural scene showing a calm lakeside surrounded by green trees and gentle hills. The lake has a smooth surface reflecting the sky, with a.webp"
      alt="Website description"/>
  </div>
  <div class="instructions2" *ngIf="promptLocked">
    <div class="instructions2-headline">
      <strong>Instructions 2:</strong>
    </div>
    <br/>
    Highlight at least one part of your prompt that you are confident will contribute to the displayed result, then
    click "Confident".
    If you feel uncertain about some parts contributing to the result, highlight them and click "Unconfident". You are
    required to highlight at least one part of your prompt as unconfident. You can
    highlight text with your mouse by clicking and dragging over the text.
    Once done, hit "Submit".
  </div>

  <div class="input-section">
    <div
      #typingArea
      class="editable-text"
      contenteditable="true"
      [attr.contenteditable]="!promptLocked"
      (keydown)="onKeyDown($event)"
      (keyup)="onKeyUp($event)"
    ></div>
    <div class="button-group">
      <button class="set-prompt-button" *ngIf="!promptLocked" (click)="lockPrompt()">Set Prompt</button>
      <button class="highlight-button" *ngIf="promptLocked" (click)="onTextSelection()">Confident</button>
      <button class="lowlight-button" *ngIf="promptLocked" (click)="onTextSelectionLow()">Unconfident</button>
      <button class="submit-button" *ngIf="highlightSet" (click)="finalizeSubmission()">Submit</button>
      <button class="reset-last-entry-button" *ngIf="promptLocked" (click)="resetLastEntry()">Remove last
        confident/unconfident
      </button>
    </div>
  </div>

  <!--  <div *ngIf="promptLocked" class="visualization-section">-->
  <!--    <h3>You can only highlight parts inside the prompt box above, this visualization box-->
  <!--      is read-only.</h3>-->
  <!--    <div class="highlight-display" [innerHTML]="getFormattedPrompt()"></div>-->
  <!--  </div>-->

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
