
<!--<div style="white-space: pre;">-->
<!--  <span *ngFor="let char of prompt.split(''); let i = index" [ngClass]="getColorClass(i)">-->
<!--    {{ char }}-->
<!--  </span>-->
<!--</div>-->

<!--<div>-->
<!--  <textarea-->
<!--    #typingArea-->
<!--    [disabled]="promptLocked"-->
<!--    (keydown)="onKeyDown($event)"-->
<!--    (keyup)="onKeyUp($event)"-->
<!--  ></textarea>-->
<!--</div>-->
<!--<div>-->
<!--  &lt;!&ndash; Button, um den Prompt zu fixieren &ndash;&gt;-->
<!--  <button *ngIf="!promptLocked" (click)="lockPrompt()">-->
<!--    Set Prompt-->
<!--  </button>-->
<!--  &lt;!&ndash; Highlight-Button erst aktiv, wenn der Prompt gesperrt wurde &ndash;&gt;-->
<!--  <button [disabled]="!promptLocked" (click)="onTextSelection()">Highlight</button>-->
<!--  <button (click)="finalizeSubmission()">Submit</button>-->
<!--</div>-->


<div style="white-space: pre;">
  <span *ngFor="let char of prompt.split(''); let i = index" [ngClass]="getColorClass(i)">
    {{ char }}
  </span>
</div>

<div>
  <textarea
    #typingArea
    [disabled]="promptLocked"
    (keydown)="onKeyDown($event)"
    (keyup)="onKeyUp($event)"
  ></textarea>
</div>
<div>
  <button *ngIf="!promptLocked" (click)="lockPrompt()">
    Set Prompt
  </button>
  <button [disabled]="!promptLocked" (click)="onTextSelection()">Highlight</button>
  <button (click)="finalizeSubmission()">Submit</button>
</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
