<div class="explanation-container">
  <div class="text-container">
    <h1>Thank you for participating in our study. Please read the following text carefully.</h1>
    <p>
      In the following you will be asked to write prompts that you would use when interacting with Artificial
      Intelligence. As the tasks vary, the description will be written right above the task itself, so read each
      explanation carefully before you fill in any text or mark any part of your prompt.
      You will be asked to write a total of 8 prompts. One prompt may consist of more than one sentence, depending on
      how
      long you consider it to be necessary.
      <br>
      <b>
        Please do not go back to the last page (browser previous page) as your progress will not be saved and you might
        not be able to accomplish the experiment.
        Participation in the study is voluntary. You have the right to withdraw from the study at any time without any
        disadvantages to you.
      </b>
      <br>
      <br>
<!--      An example prompt when interacting with Artificial Intelligence would be:-->
      <br>
      <b>
<!--        A calm mountain lake at sunrise-->
<!--        that reflects the snowy mountains. Warm light shines through the morning mist onto the trees by the shore. A-->
<!--        single canoe floats gently, making small ripples on the water.-->
      </b>
      <br>
      You can start the experiment by clicking the "Start" button below. You will be redirected to the first task.
    </p>
  </div>
<!--  <div class="image-container">-->
<!--    <img src="expimg.png" alt="Website description"/>-->
<!--  </div>-->
  <button class="start-button" (click)="navigateToFirstComponent()">Start</button>
</div>
