.explanation-container {
  text-align: center;
  margin: 20px;
}

.text-container {
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.start-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.start-button:hover {
  background-color: #0056b3;
}
